body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div.container {
    margin: 0 auto;
}

div.content {
    width: 40%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 1440px) {
    div.content {
        width: 60%;
        height: auto;
        margin: 0 auto;
        position: relative;
    }
}

@media screen and (max-width: 1080px) {
    div.content {
        width: 80%;
        height: auto;
        margin: 0 auto;
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    div.content {
        width: 100%;
        height: auto;
        margin: 0 auto;
        position: relative;
    }
}

body {
    background-color: #ffffff;
    color: #000000;
}

pre {
    background-color:antiquewhite;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    white-space: pre-wrap;
    white-space: pre-wrap;
}

hr {
    border: 2px dashed #000000;
    border-style: none none dashed; 
    color: transparent; 
    background-color: transparent;
}

img {
    max-width:100%;
    max-height:100%;
}