<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:image" content="https://andrewconl.in/assets/images/me.jpg">
    <meta property="og:url" content="{{ page.url }}">
    <title>andrew conlin</title>
    <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/default.css" rel="stylesheet">
    {% include tagStyle.html%}
</head>

<body>
    <div class="container text-start">
        {% include nav.html %}
        <div class="col col-md-9">
            <h1 style="font-weight: 500;">
                {{ page.title }}
            </h1>
            {{ content }}
            <br>
            <br>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>