<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% feed_meta %}
    <title>Andrew Conlin's blog</title>
    <link href="/assets/css/default.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
        async
        defer
        src="https://umami.andrewconl.in/script.js"
        data-website-id="60900f9a-7491-495d-ad55-4c1c64f83c65"
        data-do-not-track="true"
    ></script>
    <meta property="og:image" content="/assets/images/og.png">
</head>

<body>
    <div class="container">
        <div class="content">  
            {% include header.html %}
            {{ content }}
            {% include defaultFooter.html %}
        </div>
    </div>
</body>

</html>
